 body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #a0e6bd;
 }
 
 
 body {
    color: #CE3189;
    text-align: center;
}

ul {
    list-style: none;
    list-style-position: inside;
    z-index: 1
}

li {
    display: inline-block;
    margin: 120px 100px;
    background-color: #95f788;
    padding: 50px;
    border-style: groove;
    border-width: 5px;
}